{% extends 'forkilla/base.html' %}
{% block title %}404{% endblock %}
{% block content %}


<div class="container">

    <div class="card text-white bg-danger">
        <div class="card-body"  style="text-align: center;">
            <h1 class="card-title" style="font-size: 10rem;">BRUH, ITS ERROR: 404 !</h1>
            <h4 class="card-text" style="font-size: 5rem;"> The page you try to reach does not exist :'(</h4>
            <p class="card-text"><small>Are you sure you typed the address correctly???????</small></p>
        </div>
    </div>

</div>


{% endblock %}