{% extends 'forkilla/base.html' %}
{% block title %}500{% endblock %}
{% block content %}

<div class="container">

    <div class="card text-white bg-dark">
        <div class="card-body"  style="text-align: center;">
            <h1 class="card-title" style="font-size: 10rem;">Owo WHAT'S THIS?   <br>      ERROR: 500</h1>
            <h4 class="card-text" style="font-size: 4rem;"> This is what peak performance web programming at its finest looks like</h4>
            <p class="card-text"><small></small>The page is not working as expected... Those chimps... -_-</p>
        </div>
    </div>

</div>

{% endblock %}
