{% extends 'forkilla/base.html' %}
{% block title %}Comparator{% endblock %}
{% block content %}

<div class="container">
  <div class="jumbotron" style="background-color:rgba(0,123,255,.25); padding-top: 50px; padding-bottom: 50px;">
    <h1 class="display-6" style="text-align: center;"><strong>Comparator</strong></h1>

    <div class="form-group">
      <label for="id_price_compare">Price: </label>
      <input class="form-control" type="number" id="id_price_compare" placeholder="€€€">
    </div>

    <div class="form-group">
      <label for="id_category_compare">Category: </label>
      <select type="number" class="form-control" id="id_category_compare">

          <option value="" selected>Choose a Category</option>
          <option value="Rice">Rice</option>
          <option value="Fusi">Fusion</option>
          <option value="BBQ">Barbecue</option>
          <option value="Chin">Chinese</option>
          <option value="Medi">Mediterranean</option>
          <option value="Crep">Creperie</option>
          <option value="Hind">Hindu</option>
          <option value="Japa">Japanese</option>
          <option value="Ital">Italian</option>
          <option value="Mexi">Mexican</option>
          <option value="Peru">Peruvian</option>
          <option value="Russ">Russian</option>
          <option value="Turk">Turkish</option>
          <option value="Basq">Basque</option>
          <option value="Vegy">Vegetarian</option>
          <option value="Afri">African</option>
          <option value="Egyp">Egyptian</option>
          <option value="Grek">Greek</option>

      </select>
    </div>

    <div class="form-group">
      <label for="id_city_compare">City: </label>
      <input class="form-control" type="text" id="id_city_compare" placeholder="City">
    </div>

      <button class="btn btn-success btn-block" type="button" id="id_comparar">Compare</button>

      </div>

      <div id="comparator_results">
        <div id="comparator_failed">

        </div>
        <div class="row" style="margin-left: -3.35rem; margin-right: 1rem;">
            <div class="card-deck" id="comparator_success">

            </div>
        </div>
      </div>

</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $('#id_comparar').click(function(){
        var webs = {{ips}};
        var filtered_restaurants = $('#comparator_success');

        var filters = '?';

        const kt_go = $('#id_category_compare');
        const ct = $('#id_city_compare');
        const pri_Z = $('#id_price_compare');

        if(kt_go.val() !== ''){filters += 'category= ' + kt_go.val();}

        if(ct.val() !== ''){
          if(filters.length > 2){ filters += '&city= ' + ct.val();}
          else{ filters += 'city= ' + ct.val();}
        }

        if(pri_Z.val() !== ''){
          if(filters.length > 2){ filters += '&price= ' + pri_Z.val();}
          else{filters += 'price= ' + pri_Z.val();}
        }

        rest.empty();

        $.ajax({
            url: webs[0] + '/api/restaurants/'+filters,
            type: 'GET',
            dataType: 'json',
            success: function (data){
                data.results.forEach(function(restaurant){

                    rest_card =

                    '<div class="col-3" style="width: 24vw;">' +

                        '<div class="card">' +

                            '<a href="{% url '+'details'+ restaurant.restaurant_number +' %}'+'">' +
                                 '<img class="featured-image" src="'+ restaurant.featured_photo +'"'+'alt="'+restaurant.name+'"/>' +
                            '</a>' +

                            '<div class="card-body">'+
                                '<h5 class="card-title"><strong>'+restaurant.name+'</strong></h5>'+
                                '<p class="card-text">'+restaurant.menu_description+'<br>'+restaurant.price_average+'</p>'+
                            '</div>' +

                        '</div>' +

                    '</div>';

                    filtered_restaurants.append(rest_card);
                });
            },

            error: function(){

                $('#comparator_failed').append('<h3 class="error">Error with the api of: ' + webs[i] + '</h3>');

            }
        });
    });

</script>
{% endblock %}
