{% extends 'forkilla/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<div class="jumbotron" style=" margin-top: 3rem; width: 100%;">
    <div style="align-items: center; padding: 2em 0 2em 0; text-align: center;">
        <h1><strong>Welcome to Forkilla</strong></h1>
        <h3>Where you can find many restaurants</h3>
        <a class="btn btn-primary btn-lg" href="{% url 'restaurants' %}"> Check the restaurants </a>
    </div>
</div>

{% if restaurants %}

    <h1 style="text-align: center;">Promoted Restaurants</h1>

    <hr>
    <div class="row" style="margin-left: -3.35rem; margin-right: 1rem;">
        <ul class="card-deck" >
            {% for restaurant in restaurants %}
                {% if restaurant.is_promot %}
                    <div class="col-3" style="width: 24vw;">
                        <div class="card" id="card-home">
                            <a href="{% url 'details' restaurant.restaurant_number %}">
                                <div class="featured-image" style="background-image:url('{{restaurant.featured_photo}}')" alt="{{restaurant.name}}"></div>
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"><strong>{{restaurant.name}}</strong></h5>
                                <p class="card-text">{{restaurant.menu_description}}</p>
                            </div>
                        </div>
                        <br>
                    </div>
                {% endif %}
            {% endfor%}
        </ul>
    </div>
    <hr>

{% endif %}


{% endblock %}
