{% extends 'forkilla/base.html' %}
{% block title %}My Reservations{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <h1 style="text-align: center;">Your reservations ({{user.username}})</h1>
    <hr>
    {% if future_reservations %}
        <h2 style="text-align: center;">Future reservations:</h2>
        <div class="container">
            <div class="row" style="margin-left: -3.35rem; margin-right: 1rem;">
                <ul class="card-deck">
                {% for reservation in future_reservations %}
                    <div class="col col-lg" style="width: 24vw;">
                        <div class="card" style="width: 100%; height: auto;">
                            <a href="{% url 'details' reservation.restaurant.restaurant_number %}">
                                <div class="featured-image" style="background-image:url('{{reservation.restaurant.featured_photo}}')" alt="{{reservation.restaurant.name}}"></div>
                            </a>
                            <div class="card-body" style="text-align: center;">
                                <h5 class="card-title"><strong>{{reservation.restaurant.name}}</strong></h5>
                                <p class="card-text"><strong>Day:</strong> {{reservation.day}}</p>
                                <p class="card-text"><strong>Time Slot:</strong> {{reservation.get_human_slot}}</p>
                                <p class="card-text"><strong>Number of people:</strong> {{reservation.num_people}}</p>
                                <form action="{% url 'delete_reservation' %}" method="GET">
                                    <button class="btn btn-danger btn-block"type="submit" name="reservation_id" value={{reservation.id}}> 	Delete Reservation</button>
                                </form>
                            </div>
                        </div>

                    </div>
                {% endfor %}
                </ul>
            </div>
        </div>
        <hr>
    {% endif %}

    {% if past_reservations %}
        <h2 style="text-align: center;">Past reservations:</h2>
        <div class="container">
            <div class="row" style="margin-left: -3.35rem; margin-right: 1rem;">
                <ul class="card-deck">
                {% for reservation in past_reservations %}
                    <div class="col col-lg" style="width: 24vw;">
                        <div class="card" style="width: 100%; height: auto;">
                            <a href="{% url 'details' reservation.restaurant.restaurant_number %}">
                                <div class="featured-image" style="background-image:url('{{reservation.restaurant.featured_photo}}')" alt="{{reservation.restaurant.name}}"></div>
                            </a>
                            <div class="card-body" style="text-align: center;">
                                <h5 class="card-title"><strong>{{reservation.restaurant.name}}</strong></h5>
                                <p class="card-text"><strong>Day:</strong> {{reservation.day}}</p>
                                <p class="card-text"><strong>Time Slot:</strong> {{reservation.get_human_slot}}</p>
                                <p class="card-text"><strong>Number of people:</strong> {{reservation.num_people}}</p>

                                <a class="btn btn-primary btn-block" href="{% url 'details' reservation.restaurant.restaurant_number %}" > Make a Review </a>
                                <hr>
                                <form action="{% url 'delete_reservation' %}" method="GET">
                                    <button class="btn btn-danger btn-block"type="submit" name="reservation_id" value={{reservation.id}}> 	Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}



{% endif %}

{% endblock %}
