{% extends 'forkilla/base.html' %}
{% block title %}Restaurants{% endblock %}
{% block content %}

{% if city %}
  <nav aria-label="breadcrumb"  style="margin-top: 1rem;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'restaurants' city %}">{{city|title}}</a></li>
    </ol>
  </nav>
{% else %}
  <nav aria-label="breadcrumb"  style="margin-top: 1rem;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
    </ol>
  </nav>
{% endif %}

{% if name %}
    Found restaurants containing {{restaurants.name}}
{% endif %}

{% if restaurants %}
	{% if promoted %}
        <h2>Promoted Restaurants</h2>
  {% endif %}
  <ul class="list-group">
    {% for restaurant in restaurants %}

        {% ifchanged restaurant.category %}
            <h3 class="list-group-item list-group-item-info"><a href="{% url 'restaurants' restaurant.city restaurant.category %}"> <strong>{{restaurant.get_human_category}} : </strong> </a></h3>
        {% endifchanged %}

        {% if city %}
          <h5 class="list-group-item"><a href="{% url 'details' restaurant.restaurant_number %}"> <strong>{{restaurant.name}}</strong> </a> : {{restaurant.menu_description}}</h5>

        {% else %}
    	    <h5 class="list-group-item"><a class="badge badge-dark" href="{% url 'restaurants' restaurant.city %}"> <strong>{{restaurant.city}}: </strong> </a>  <a href="{% url 'details' restaurant.restaurant_number %}"> <strong>{{restaurant.name}}</strong> </a>  : {{restaurant.menu_description}}</h5>

        {% endif %}
    {% endfor %}
  </ul>
{% else %}
    <p>No restaurants are available.</p>
{% endif %}


{% endblock %}
